// ContNr

.ContNr {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: 0.7rem;
    background-color: whitesmoke;

    div {
        padding: 5px;
    }

    span {
        margin: 5px;
        padding: 5px;

        border-radius: 50px;
        vertical-align: baseline;
        cursor: pointer;

        transition-property: background-color;
        transition-duration: 0.5s;

        &:hover {
            background-color: wheat;
            transition-property: background-color;
            transition-duration: 0.5s;
        }
    }

    .selected {
        background-color: lightsteelblue;
    }

    .layout-cont-number {
        flex: 2;
        padding-left: 20px;
    }
    
    .layout-title {
        background-color: lightgray;

        font-size: 1rem;
        color: gray;
        border-top-right-radius: 10px;
        padding-right: 10px;
    }

}