// Form
.Form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    select {
        border: none;
        border-radius: 50px;
        background-color: lightsteelblue;
        padding: 10px 20px 10px 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        width: fit-content;
        height: 50px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1rem;
    }

    select:hover {
        background-color: wheat;
        transition-property: background-color;
        transition-duration: 0.5s;
    }

    select:focus,
    select:active,
    select:hover {
        border: none;
    }
}