// Form
.Form {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    background-color: whitesmoke;

    select, button {
        border: none;
        border-radius: 50px;
        background-color: lightsteelblue;
        padding: 10px 20px 10px 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        width: fit-content;
        height: 50px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1rem;
    }

    button{
        background-color: white;
        color: rgb(168, 168, 168);
    }

    select:hover, button:hover {
        background-color: wheat;
        transition-property: background-color;
        transition-duration: 0.5s;
        color: black;
    }

    button:disabled{
        background-color: lightgrey;
    }

    select:focus,
    select:active,
    select:hover {
        border: none;
    }
}